@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  margin: 0;
  padding: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;      /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
